# xcode noise
build/*
*.pbxuser
*.mode1v3

# old skool
.svn

# osx noise
.DS_Store
profile

# zander random files
Seekr.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
Seekr.xcodeproj/project.xcworkspace/xcuserdata/zdumont.xcuserdatad/
Seekr.xcodeproj/xcuserdata/zdumont.xcuserdatad/