<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQxUYFbcePBWfFIQUZGYPdfpPxCbUKRHc</string>
	<key>GCM_SENDER_ID</key>
	<string>612242633182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cse115a.Seekr</string>
	<key>PROJECT_ID</key>
	<string>seekr-b0fff</string>
	<key>STORAGE_BUCKET</key>
	<string>seekr-b0fff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612242633182:ios:2cc52b85a4002679136d4f</string>
</dict>
</plist>